@media (max-width: 992px) {
    .navbar{
        display: none;
    }

    header{
        width: 100%;
    }

    #front-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 500px;

    }

    .principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10px;
    }


    .principal p{
        height: 200px;
        width: 200px;
        overflow: scroll;
    }

    .img-front{
        display: none;
    }

    .btn{
        gap: 10px;
    }

    .btn-contact{
        width: 120px;
    }

    .btn-more{
        width: 120px;
    }

    #section-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 500px;
    }

    .info-tech{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .img-info{
        height: 200px;
        width: 200px;
    }

    .info-tech p{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 200px;
        width: 200px;
        overflow: scroll;
    }
}