@media (max-width: 1900px) {
    #front-page{
       width: 1000px;
   } 

   .principal p{
       height: 120px;
       width: 350px;
       overflow: scroll;
   } 

   .btn{
       gap: 20px;
   }

   .btn-more{
       width: 110px;
   }

   .btn-contact{
       width: 110px;
   }

   #section-info{
       width: 1000px;
   }

   .info-tech p{
       display: flex;
       justify-content: center;
       align-items: flex-start;
       height: 200px;
       width: 350px;
       overflow: scroll;
   }

} 

@media (max-width: 992px) {
    .navbar-list{
        display: none;
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        align-items: start;
        background-color: var(--cornflower);
        border: 2px solid var(--background);
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        -ms-border-radius: 0px 0px 15px 15px;
        -o-border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
}
 
    .menu-label{
        display: flex;
        cursor: pointer;
    }

    #menu-toggle:checked + .navbar-list{
        display: flex;
    }

    .menu-img{
        height: 50px;
    }

    header{
        width: 100%;
    }


    #front-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 500px;

    }

    .principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10px;
    }


    .principal p{
        height: 200px;
        width: 200px;
        overflow: scroll;
    }

    .img-front{
        display: none;
    }

    .btn{
        gap: 10px;
    }

    .btn-contact{
        width: 120px;
    }

    .btn-more{
        width: 120px;
    }

    #section-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 500px;
    }

    .info-tech{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .img-info{
        height: 200px;
        width: 200px;
    }

    .info-tech p{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 200px;
        width: 200px;
        overflow: scroll;
    }
}

 