/* @media (max-width: 1900px) {
   

}  */

@media (max-width: 992px) {
    .navbar-list{
        display: none;
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        align-items: start;
        background-color: var(--cornflower);
        border: 2px solid var(--background);
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
        -ms-border-radius: 0px 0px 15px 15px;
        -o-border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
}
 
    .menu-label{
        display: flex;
        cursor: pointer;
    }

    #menu-toggle:checked + .navbar-list{
        display: flex;
    }

    .menu-img{
        height: 50px;
    }

    header{
        width: 100%;
    }

    #cards-section{
        width: 300px;
        height: 1000px;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    #cards{
        flex-direction: column;
        gap: 10px;        
    }

    .text-advantages h1{
        text-align: center;
    }

    .text-advantages p{
        display: none;
    }

    #cards p{
        display: none;
    }
}

 